<app-error/>

<div class="table-container">
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Last Name</th>
      <th>Date of Birth</th>
      <th>Role</th>
      <th>Date of Birth</th>
      <th>Position</th>
    </tr>
    </thead>
    <tbody>
      @for (user of users$ | async; track user) {
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.dateOfBirth }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.dateOfBirth }}</td>
          <td>{{ user.position }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
