

.error{
  color: red;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.input{
  width: 400px;
  height: 40px;
  margin-bottom: 5px;
  font-size: 17px;
}

.button{
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #00CED1;
}

.button:hover{
  background-color: #00BFFF;
}

@media (max-width: 420px) {
  .input{
    width: 300px;
  }
}
