
<app-error/>
<div class="form-container">
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">

    @if (form.get('email').hasError('email') && form.get('email').touched){
      <p class="error">It must be an email</p>
    }
    <input class="input"
           type="text"
           placeholder="Login"
           formControlName="email"
    >

    <input class="input"
           type="password"
           placeholder="Password"
           formControlName="password"
           autocomplete="on"
    >
    <button class="button" type="submit">Login</button>
  </form>
</div>

